  #footer a{
    text-decoration: none;
  }
  #footer{
    display: flex;
    padding: 5px;
    align-items: center;
    border-top: solid 1px rgb(123, 44, 15);
}

#footer > div{
    
}
@media screen and (orientation: landscape) {
    #s-footer{
        flex-direction: row;
    }
    .contacts{
        width: 50%;
    }
    #footer{
        flex-direction: row;
    }
    #footer > div {
        width: 50%;

    }
    #contact-direct div a {
        text-align: right;
        border-right: solid 1px orangered;
    }
    
}
@media screen and (orientation: portrait) {
    #s-footer{
        flex-direction: column;
    }
    .contacts{
        width: 100%;
    }
    #footer{
        flex-direction: column;
    }
    #footer > div {
        width: 90%;
        margin-top: 2em;
    }
    #contact-direct div a {
        text-align: left;
    }
}
#contact-direct div a{
    overflow-wrap: break-word;
    padding: 0.5em;
    display: block;
    color: orangered;
    font-weight: bolder;
    font-size: 1.2em;
}
#social{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    border-radius: 20px;
    background: url("https://cdn.pixabay.com/photo/2020/10/05/17/26/chain-5630201_960_720.png") no-repeat rgba(16, 54, 54, 0.873);
    background-size: cover;
    margin-left: 2%;
    border: solid 1px orangered;
}
#social div{
    width: 64px;
    height: 64px;
    margin: 2px;
    transform: scale(0.5);
}
#social div img{
    width: 100%;
    background-color: transparent;
    border-radius: 50%;
}
#social div img:hover{
    transform: scale(1.3);
    box-shadow: 0.04em 0.04em 4.4em orangered;
}